.wordpress-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
.wordpress-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
.wordpress-content img {
  border-radius: 0.5rem;
  margin: 1rem auto;
}
