---
import { Facebook, Github, Linkedin, Instagram, Youtube } from "lucide-astro";
---

<div class="flex gap-3 mt-4">
  <a
    href="https://www.facebook.com/profile.php?id=100060892943394"
    target="_blank"
    rel="noopener noreferrer"
    class="w-9 h-9 flex items-center justify-center bg-white/10 rounded-full text-white hover:bg-blue-500 transition"
    aria-label="Facebook"
  >
    <Facebook class="w-5 h-5" />
  </a>

  <a
    href="https://github.com/AlexanderPM11"
    target="_blank"
    rel="noopener noreferrer"
    class="w-9 h-9 flex items-center justify-center bg-white/10 rounded-full text-white hover:bg-gray-400 transition"
    aria-label="GitHub"
  >
    <Github class="w-5 h-5" />
  </a>

  <a
    href="https://www.linkedin.com/in/alexander-polanco-moreno-465092238/"
    target="_blank"
    rel="noopener noreferrer"
    class="w-9 h-9 flex items-center justify-center bg-white/10 rounded-full text-white hover:bg-blue-700 transition"
    aria-label="LinkedIn"
  >
    <Linkedin class="w-5 h-5" />
  </a>

  <a
    href="https://www.instagram.com/alexanderpolancojw/"
    target="_blank"
    rel="noopener noreferrer"
    class="w-9 h-9 flex items-center justify-center bg-white/10 rounded-full text-white hover:bg-pink-500 transition"
    aria-label="Instagram"
  >
    <Instagram class="w-5 h-5" />
  </a>

  <a
    href="https://www.youtube.com/@alexanderdev-dd9wk"
    target="_blank"
    rel="noopener noreferrer"
    class="w-9 h-9 flex items-center justify-center bg-white/10 rounded-full text-white hover:bg-red-600 transition"
    aria-label="YouTube"
  >
    <Youtube class="w-5 h-5" />
  </a>
</div>
