---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Button from "./common/Button.astro";
---

<div id="container">
  <main>
    <h1>Hola Alexander</h1>
    <Button
      href="https://github.com/AlexanderPM11"
      target="_blank"
      variant="primary"
    >
      Ver mi GitHub
    </Button>

    <Button href="/contacto" variant="secondary" class="ml-4">
      Contáctame
    </Button>
  </main>
</div>
